ol  li:before{content:")    ";
margin-left:-0.4em;
}
html{
	background-color: gray;
}
body{counter-reset:pagi;
	margin: auto;
	width: 21cm;
	height: auto;
	background-color: white;
}

div.item{
display:inline-block;
position:relative;
min-width:5cm;
padding-right:1em;
padding-bottom: 1em; 
top: 0em ;
height: auto;

}

#pagi:after{ 
counter-increment:pagi;
content: "página "  counter(pagi); 

}

#pagi { 

text-align:right;
width:100%;
color:darkred;
font-size:9pt:

}

.respuesta{
display: none;
visibility: hidden;
--text-decoration: underline;
color: black;
margin-left:-1em;
}



li:hover > b , td:hover>b{
visibility: visible;
display: inline;
color: blue;
}


@media screen and (min-width: 100px) and (max-width: 500px) {   
body{ 
width: 500px; 
background-color:white;  
font-family: Times New Roman;  
}  
  
 }

@media print { 

body{
max-width: 21cm;
}

button{
display: none;
}
#nprint{
display: none;
}
#pagi { 
position:relative;
orientation:portrait;


text-align:right;
font-size:9pt;
width:2cm;
left:89%;
height:0cm;
bottom: 1.2cm;
color: darkred;
page-break-before:always;
}

#pagi:after{ 

counter-increment:pagi;
content: "página "  counter(pagi); 

} 
 
  };
